.ipynb_checkpoints
.DS_Store
outdir
Figure_1_Cf_spectra_O2.dat
figure1.dat
__pycache__
*.mat
*.gwf
tutorials/data
tests/results/
**.version
**_version.py
*.vscode
build/
*.egg*
docs/_build
docs/api
docs/tutorials
docs/templates
*final.ini
*.swp
tutorials/*_samples.dat
test/test_data/testing_save_function_of_baseline.*
csds_psds_*
psds_csds_*
*.png
