test/detector_testdata_H1.pickle filter=lfs diff=lfs merge=lfs -text
test/test_data/detector_testdata_H1.pickle filter=lfs diff=lfs merge=lfs -text
test/test_data/H1L1_1247644138-1247645038.pickle filter=lfs diff=lfs merge=lfs -text
